<script src="https://cdn.firebase.com/libs/firebaseui/2.6.1/firebaseui.js"></script>
<link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.6.1/firebaseui.css" />
<script src="https://www.gstatic.com/firebasejs/4.10.1/firebase.js"></script>
<script type="text/javascript" src="{{ BASE_URL }}/assets/js/firebase-init.js"></script>
<script type="text/javascript" src="{{ BASE_URL }}/assets/js/firebase-signin-current.js"></script>
<script type="text/javascript" src="{{ BASE_URL }}/assets/js/firebase-catch-logged-in.js"></script>