{% comment %}<!--
Contact Form.

This file can be included on any page where contact us
interest form should be displayed.  Currently it is a part of the stand alone
form page (/contact-us/).

-->{% endcomment %}

<form name="cuForm" id="cuForm" method="POST">
  <div class="row">
    <div class="col-xs-12">
      <h4>New Client Questionnaire</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    	<div class="form-legend">
    		<span class="req">* Required</span>
    	</div>
    </div>
  </div>
  <div class="row form-subheader">
    <div class="col-xs-12">
      <div class="form-subheader-container" role="heading">
        <div>Contact Info</div>
      </div>
      <div class="form-subheader-triangle">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 10" preserveAspectRatio="none">
          <polygon class="freebirdSolidFill" points="0,0 13,0 0,13"></polygon>
        </svg>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="entry.1277414663">Name <span class="req">*</span></label>
      </div>
      <div>
        <input type="text" class="form-control" placeholder="Your answer" id="entry.1277414663" name="entry.1277414663" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="emailAddress">Email Address <span class="req">*</span></label>
      </div>
      <div>
        <input type="email" class="form-control" placeholder="Your email" id="emailAddress" name="emailAddress" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="entry.2061735377">Phone Number <span class="req">*</span></label>
      </div>
      <div>
        <input type="text" class="form-control" placeholder="Your answer" id="entry.2061735377" name="entry.2061735377" required>
      </div>
    </div>
  </div>
  <div class="row form-subheader">
    <div class="col-xs-12">
      <div class="form-subheader-container" role="heading">
        <div>Scope of Work</div>
      </div>
      <div class="form-subheader-triangle">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 10" preserveAspectRatio="none">
          <polygon class="freebirdSolidFill" points="0,0 13,0 0,13"></polygon>
        </svg>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="entry.423030335">What are the two most important aspects of the development effort? <span class="req">*</span></label>
      </div>
      <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn form-control">
          <input type="checkbox" name='entry.423030335' value="Development costs" required class="max2"><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Development costs</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.423030335' value="Time to market" required class="max2"><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Time to market</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.423030335' value="Quality product meeting all requirements" required class="max2"><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Quality product meeting all requirements</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="entry.905578561">What is the budget for this development effort? <span class="req">*</span></label>
        <p class="form-question-desc">It is very important for us to understand your budget constraints. Talking about the budget early and often helps to ensure a smooth development effort.</p>
      </div>
      <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn active form-control">
          <input type="radio" name="entry.905578561" value="Less than $10,000" required><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> Less than $10,000</span>
        </label>
        <label class="btn form-control">
          <input type="radio" name="entry.905578561" value="More than $10,000 but less than $100,0000"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i><span> More than $10,000 but less than $100,0000</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.905578561" value="More than $100,000 but less than $1M"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> More than $100,000 but less than $1M</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.905578561" value="More than $1M"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> More than $1M</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="entry.1227325807">How many units do you want to build in the first year?  <span class="req">*</span></label>
      </div>
      <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn active form-control">
          <input type="radio" name="entry.1227325807" value="Less than 1,000 units" required><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> Less than 1,000 units</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.1227325807" value="More than 1000 units but less than 10,000 units"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> More than 1000 units but less than 10,000 units</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.1227325807" value="More than 10,000 units"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> More than 10,000 units</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    	<div class="form-group">
				<button type="submit" class="btn btn-lg btn-success submitbtnform">Submit</button>
      </div>
    </div>
  </div>
</form>
