

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading"><h4><b>{{ include.name }}</b></h4></div>
      <div class="panel-body">
        <a href="{{ BASE_PATH }}/{{ include.page }}/">
        <img class="post_image" src="{{ BASE_PATH }}/images/{{ include.image }}" />
        </a>
        <p>{{ include.description }}</p>
      </div>
      <div class="panel-footer">
        <a href="{{ BASE_PATH }}/{{ include.page }}/" class="btn btn-success">Learn More</a>
      </div>
    </div>  
  </div>


