<div style="background: #fff; height: auto">
	<div class="container">
		<h1>Best features from Raspberry Pi and Arduino</h1>
		<div class="row" style="margin-top: 1.5em;">
			<div class="col-md-6">
				<img style="width: 100%" src="{{ BASE_PATH }}/images/maker-venn-diagram.svg" />
			</div>
			<div class="col-md-6">
				<h1><b>Stratify OS</b></h1>
				<ul>
				<li>Growing software ecosystem with many apps ready out of the box</li>
				<li>Runs on inexpensive hardware that is easy to develop and produce</li>
				<li>Real time operating system for time sensitive applications</li>
				</ul>
				<h2>Raspberry Pi <small>and other Linux based SBC's</small></h2>
				<ul>
				<li>Fantastic software ecosystem with many apps out of the box</li>
				<li>Application processor with higher power consumption</li>
				<li>Expensive hardware is difficult to design and produce</li>
				</ul>
				<h2>Arduino <small>and other microcontroller development platforms</small></h2>
				<ul>
				<li>Extremly easy to use for simple projects</li>
				<li>Easy to develop and product hardware</li>
				<li>Big pain when scaling to sophisticated applications</li>
				</ul>
			</div>
		</div>
	</div>
</div>
