<div class="container">
	<h2>Powered by <b>Stratify OS</b> <small>rapid firmware development</small></h2>
	<div class="row" style="margin-top: 1.5em; margin-bottom: 2.0em">
		<div class="col-md-6">

		<h3><i class="fa fa-square"></i> Install multiple <b>applications</b></h3>
		<h3><i class="fa fa-code"></i> <b>Powerful</b> application framework</h3>
		<h3><i class="fa fa-folder-open"></i> <b>Easy-to-use</b> posix filesystem</h3>
		<h3><i class="fa fa-desktop"></i> Free <b>cross-platform</b> SDK</h3>
		<h3><i class="fa fa-usb"></i> <b>Simple</b> development over USB</h3>
		<a class="btn btn-lg btn-success" href="{{ BASE_PATH }}/Stratify-OS/">Learn More</a>
		<a class="btn btn-lg btn-success" href="{{ BASE_PATH }}/download/">Download</a>
		</div>
		<div class="col-md-6" style="margin-bottom: 2.0em">
		<iframe width="100%" height="315" src="https://www.youtube.com/embed/K5sfHB4SMpI" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>
