<div style="background: #ddd; height: auto">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<h2 class="text-center">Application Processors</h2>
				<p></p>
				<ul class="list-group">
				<li class="list-group-item list-group-item-info">Great for smartphones, tablets, and video</li>
				<li class="list-group-item list-group-item-info">ARM Cortex A Series</li>
				<li class="list-group-item list-group-item-success">Apps are easy</li>
				<li class="list-group-item list-group-item-danger">Kernel is difficult</li>
				<li class="list-group-item list-group-item-danger">Higher power consumption</li>
				<li class="list-group-item list-group-item-danger">Expensive development</li>
				<li class="list-group-item list-group-item-danger">More expensive hardware</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h2 class="text-center">Microcontrollers</h2>
				<p></p>
				<ul class="list-group">
				<li class="list-group-item list-group-item-info">Great for smartwatches and IoT</li>
				<li class="list-group-item list-group-item-info">ARM Cortex M Series</li>
				<li class="list-group-item list-group-item-danger">Apps are difficult</li>
				<li class="list-group-item list-group-item-danger">Kernel is difficult</li>
				<li class="list-group-item list-group-item-success">Low power consumption</li>
				<li class="list-group-item list-group-item-success">Rapid hardware development</li>
				<li class="list-group-item list-group-item-success">Less expensive hardware</li>
				</ul>
			</div>
			<div class="col-md-4">
				<h2 class="text-center"><b>Stratify OS</b></h2>
				<p></p>
				<ul class="list-group">
				<li class="list-group-item list-group-item-info">Great for smartwatches and IoT</li>
				<li class="list-group-item list-group-item-info">ARM Cortex M Series</li>
				<li class="list-group-item list-group-item-success"><b>Apps are easy</b></li>
				<li class="list-group-item list-group-item-success"><b>Kernel is easy</b></li>
				<li class="list-group-item list-group-item-success"><b>Low power</b> consumption</li>
				<li class="list-group-item list-group-item-success"><b>Rapid hardware development</b></li>
				<li class="list-group-item list-group-item-success">Less expensive hardware</li>
				</ul>
			</div>
		</div>
	</div>
</div>
