<div style="background: #fff; height: auto">
	<div class="container">
		<h1>Maker Use Case <small>Best features from Raspberry Pi and Arduino</small></h1>
		<div class="row" style="margin-top: 1.5em;">
			<div class="col-md-6">
				<img style="width: 100%" src="{{ BASE_PATH }}/images/maker-venn-diagram.svg" />
			</div>
			<div class="col-md-6">
				<h1><b>Stratify OS</b></h1>
				<ul>
				<li>Best for rapid development and apps on inexpensive hardware</li>
				<li>Deploy your own app store for your smartwatch or IoT device</li>
				<li>Doesn't support video (high end) and is overkill for simple sensors (low end)</li>
				</ul>
				<h2>Raspberry Pi</h2>
				<ul>
				<li>Best for video and scripting languages</li>
				<li>Application processor with higher power consumption</li>
				<li>Difficult to port and relatively expensive hardware</li>
				</ul>
				<h2>Arduino</h2>
				<ul>
				<li>Extremly easy to use for simple projects</li>
				<li>IDE is limited</li>
				<li>Difficult to build sophisticated applications</li>
				</ul>
			</div>
		</div>
	</div>
</div>
