<div class="container">
	<div class="row" style="margin-top: 20px; margin-bottom: 20px; text-align: center">
		<div class="col-md-3">
			<i class="fa fa-5x fa-bolt"></i>
			<h4><b>Rapid</b> Development</h4>
		</div>
		<div class="col-md-3">
			<i class="fa fa-5x fa-tv"></i>
			<h4><b>Cross</b> Platform</h4>
		</div>
		<div class="col-md-3">
			<i class="fa fa-5x fa-cloud"></i>
			<h4><b>IoT</b> Ready</h4>
		</div>
		<div class="col-md-3">
			<i class="fa fa-5x fa-square"></i>
			<h4><b>App</b> Enabled</h4>
		</div>
	</div>
</div>
